

body {
	background: black;
	color: white;
}

.main-body {
	background-image: url(https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/afrc2020-0073-1.jpg);
}

.taskbar {
	background: black;
	border-color: darkblue;
	
}

.menu {
	background: black;
	border-color: darkblue;

}

.hmenu {
	background: black;
	border-color: darkblue;
	display: none;
}

.window {
  position: absolute;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  
}

.windowheader {
  padding: 10px;
  cursor: move;
  background-color: #2196F3;
  color: #fff;

}

.resizeable {
	resize: both;
	overflow: auto;
}

.windowButtons {
	float: right;

}


